/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin-top: 80px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.about-section {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.about-section div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    padding: 5px 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .about-section div {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* Styling Links */
a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    color: #2c3e50;
    text-decoration: underline;
}
